@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);--soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.8rem;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: max(50%, 375px);
}
header {
  text-align: center;
}
header h1 {
  margin-top: 5.5rem;
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 700;
  color: var(--very-dark-magenta);
}
header p {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 500;
  line-height: 1.5;
  color:var(--dark-grayish-magenta);
}
.rated {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--light-grayish-magenta);
  border-radius: 1rem;
}
.rated p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  color: var(--very-dark-magenta);
}
.container {
  margin: 1rem auto 5rem;
}
.box {
  margin-top: 1.5rem;
  padding: 3.5rem 2.5rem;
  background-color: var(--very-dark-magenta);
  border-radius: 1rem;
  color: var(--white);
}
.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.presentation img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
}
.presentation h5 {
  margin-left: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}
.presentation h5 span {
  color: var(--soft-pink);
}
.box p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.8;
}
@media (min-width: 1200px) {
  body {
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 0;
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: cover;
    background-size: max(40%, 200px), max(65%, 200px);
  }
  header {
    display: grid;
    grid-template-columns: .7fr 1fr;
    padding: 0rem 10rem 0 10rem;
    column-gap: 10rem;
    text-align: start;
    align-items: center;
  }
  .text {
    padding-right: 4rem;
  }
  .text h1{
    font-size: 4rem;
  }
  .text p {
    margin-top: 1.5rem;
  }
  .starts {
    margin-top: 0;
    margin-left: 3rem;
  }
  .rated {
    width: 45rem;
    padding: 1.5rem 1rem 1.5rem 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .rated p {
    margin-top: 0;
  }
  .rated:nth-child(2) {
    position: relative;
    left: 4rem;
  }
  .rated:nth-child(3) {
    position: relative;
    left: 8rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 345px);
    column-gap: 2.5rem;
    margin-top: 0;
  }
  .presentation h5, .box p{
    font-size: 85%;
  }
  .box {
    margin-top: 1.5rem;
    padding: 3.5rem 2.5rem;
  }
  #second-box {
    position: relative;
    top: 1.5rem;
  }
  #third-box {
    position: relative;
    top: 3rem;
  }
}
.attribution {
  margin-bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}